.app
{
    padding: 0px;
}

#app, body, html, .app
{
    height: 100%;
}

.appbar
{
    margin: 0px;
    border-bottom: 1px solid rgba(89, 105, 119, 1);
    border-radius: 0px;
    background: #062f46;
}

.appbar a
{ 
    color: #fff;    
}

label
{
    color: #fff;
}

.nav > li > a:hover
{
    color: #777;
    background-color: rgba(0, 0, 0, 0)
}

.nav > li > a:focus
{
    color: #fff;
    background-color: rgba(0, 0, 0, 0)
}

.nav > li > a:active
{
    background-color: rgba(0, 0, 0, 1)
}

.panel-footer
{
    position:absolute;
    bottom:0;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 0px;
    background-color: #fff;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.5)
}

.panel-footer p
{
    margin: 0px;
    text-align: center;
}

.content
{
    border: none;
    margin: 0px;
    padding-top: 50px;
}

.navbar-toggle
{
    padding: 0px;
    color: #fff;
}

p
{
    color: #fff;
}

#home
{
    height: 100%;
}

#home header
{
    height: 100%;
    background: url(https://drscdn.500px.org/photo/91259483/q%3D80_m%3D1500/13d50d6e936ad8d124e1136b0e1d155e) no-repeat top;
}

#home header .container, .footer .container
{
    height: 100%;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home header .container, #login, .content, #register
{
    min-height: 86vh;
}

#footer .container
{
    width: 100%;
    background: rgba(0, 0, 0, 0.6) url(https://drscdn.500px.org/photo/206955617/q%3D80_m%3D1000/508df23fca832916b2da0cf8d209c565) no-repeat fixed bottom;
    background-size:cover;
    margin: 0;
    padding: 50px 0;
}

#footer .container h3
{
    color: #fff;
}

.footer
{
    text-align: center;
    background: #fff;
    padding: 15px;
    color: #444;
    margin-left: 0;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -moz-transition: -moz-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -o-transition: -o-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    transition: transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -webkit-transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -o-transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
    transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
    z-index: 820;
}

.footer p
{
    color: #000;
}

header .intro-text
{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.panel-body
{
    height: 100%;
    padding: 0px;
    background: rgba(0, 0, 0, 0.3) url(https://drscdn.500px.org/photo/206577481/q%3D80_m%3D2000/a7091485bd1361926b463e57085452c6) no-repeat top;
}

.btn-custom
{
    text-transform: uppercase;
    color: #fff;
    background-color: #72a411;
    border: 0;
    padding: 14px 20px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 0;
    margin-top: 20px;
    transition: all 0.5s;
}

#login, #dashboard, #register
{
    margin: 15px;
}

.box
{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #3c8dbc;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-header
{
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
}

.box-body
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-body p
{
    color: #676a6c;
}

.box-header .box-title
{
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion
{
    margin-right: 5px;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title
{
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

span a
{
    color: #fff;
    text-transform: uppercase;
}

img
{
    margin: 0px auto;
}

#about
{
    padding: 50px 0px;
    background: #fff;
}

.about-text
{
    text-align: center;
}

#about p
{
    color: #000;
}

#restaurant-menu
{
    padding: 0 0 60px 0;
    background: #fff;
}

#restaurant-menu .section-title
{
    background: #444 url(/storage/img/menu-bg.jpg) center center no-repeat fixed;
    background-size: cover;
    margin-bottom: 70px;
}

.section-title .overlay {
    padding: 80px 0;
    background: rgba(0, 0, 0, 0.7);
}

#restaurant-menu .section-title h2 
{
    color: #fff;
}

#restaurant-menu .menu-section
{
    margin: 0 20px 80px;
}

#restaurant-menu .menu-section-title 
{
    font-size: 26px;
    display: block;
    font-weight: 500;
    color: #444;
    margin: 20px 0;
    text-align: center;
}

#restaurant-menu .menu-item
{
    margin: 35px 0;
    font-size: 18px;
}

#restaurant-menu .menu-item-name
{
    font-weight: 600;
    font-size: 17px;
    color: #555;
    border-bottom: 2px dotted rgb(213, 213, 213);
}

#restaurant-menu .menu-item-price
{
    float: right;
    font-weight: 600;
    color: #555;
    margin-top: -26px;
}

#restaurant-menu .menu-item-description
{
    font-style: italic;
    font-size: 15px;
}

hr 
{
    height: 2px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #8eb640;
    margin: 40px auto;
    border: 0;
}