.app
{
    padding: 0px;
}

#app, body, html, .app
{
    height: 100%;
}

.appbar
{
    margin: 0px;
    border-bottom: 1px solid rgba(89, 105, 119, 1);
    border-radius: 0px;
    background: #062f46;
}

.appbar a
{ 
    color: #fff;    
}

label
{
    color: #fff;
}

.nav > li > a:hover
{
    color: #777;
    background-color: rgba(0, 0, 0, 0)
}

.nav > li > a:focus
{
    color: #fff;
    background-color: rgba(0, 0, 0, 0)
}

.nav > li > a:active
{
    background-color: rgba(0, 0, 0, 1)
}

.panel-footer
{
    position:absolute;
    bottom:0;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 0px;
    background-color: #fff;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.5)
}

.panel-footer p
{
    margin: 0px;
    text-align: center;
}

.content
{
    border: none;
    margin: 0px;
    padding-top: 7vh;
}

.btn-bar
{
    right: 0;
    top: 0;
    width: 100%;
    position: fixed;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 18px;
    height: 7vh;
    border-radius: 0;
}

p
{
    color: #fff;
}

#home
{
    height: 100%;
}

#home header
{
    height: 100%;
    background: url(https://drscdn.500px.org/photo/91259483/q%3D80_m%3D1500/13d50d6e936ad8d124e1136b0e1d155e) no-repeat top;
}

#home header .container
{
    min-height: 85vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login, #dashboard, #register, #recharge, #plan, #help
{
    padding: 15px;
}

#footer .container
{
    width: 100%;
    background: rgba(0, 0, 0, 0.6) url(https://drscdn.500px.org/photo/206955617/q%3D80_m%3D1000/508df23fca832916b2da0cf8d209c565) no-repeat fixed bottom;
    background-size:cover;
    margin: 0;
    padding: 50px 0;
}

#footer .container h3
{
    color: #fff;
}

.footer
{
    text-align: center;
    background: #fff;
    padding: 15px;
    height: 8vh;
    color: #444;
    margin-left: 0;
}

.footer p
{
    color: #000;
}

header .intro-text
{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.panel-body
{
    min-height: 85vh;
    padding: 0px;
    background: rgba(0, 0, 0, 0.3) url(https://drscdn.500px.org/photo/206577481/q%3D80_m%3D2000/a7091485bd1361926b463e57085452c6) no-repeat top;
}

.btn-custom
{
    text-transform: uppercase;
    color: #fff;
    background-color: #72a411;
    border: 0;
    padding: 14px 20px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 0;
    margin-top: 20px;
    transition: all 0.5s;
}

.box
{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #3c8dbc;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-header
{
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
}

.box-body
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-body p
{
    color: #676a6c;
}

.box-header .box-title
{
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion
{
    margin-right: 5px;
}

.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title
{
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

span a
{
    color: #fff;
    text-transform: uppercase;
}

img
{
    margin: 0px auto;
}

#about
{
    padding: 50px 0px;
    background: #fff;
}

.about-text
{
    text-align: center;
}

#about p
{
    color: #000;
}

#restaurant-menu
{
    padding: 0 0 60px 0;
    background: #fff;
}

#restaurant-menu .section-title
{
    background: #444 url(/storage/img/menu-bg.jpg) center center no-repeat fixed;
    background-size: cover;
    margin-bottom: 70px;
}

.section-title .overlay {
    padding: 80px 0;
    background: rgba(0, 0, 0, 0.7);
}

#restaurant-menu .section-title h2 
{
    color: #fff;
}

#restaurant-menu .menu-section
{
    margin: 0 20px 80px;
}

#restaurant-menu .menu-section-title 
{
    font-size: 26px;
    display: block;
    font-weight: 500;
    color: #444;
    margin: 20px 0;
    text-align: center;
}

#restaurant-menu .menu-item
{
    margin: 35px 0;
    font-size: 18px;
}

#restaurant-menu .menu-item-name
{
    font-weight: 600;
    font-size: 17px;
    color: #555;
    border-bottom: 2px dotted rgb(213, 213, 213);
}

#restaurant-menu .menu-item-price
{
    float: right;
    font-weight: 600;
    color: #555;
    margin-top: -26px;
}

#restaurant-menu .menu-item-description
{
    font-style: italic;
    font-size: 15px;
}

hr 
{
    height: 2px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #8eb640;
    margin: 40px auto;
    border: 0;
}

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.menu-section {
    margin: 25px 0;
}

.menu-section-title {
    text-transform: uppercase;
    color: #85888d;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0 20px;
    margin: 0;
}

.menu-section-list {
    padding: 0;
    margin: 10px 0;
    list-style: none;
}

.menu-section-list a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

.menu
{
    background: #222;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-section-list a {
    display: block;
    padding: 10px 20px;
}

.menu a {
    color: #fff;
}

.header-img
{
    height: 30px;
    margin-left: 5px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}
.modal-footer {
  overflow:hidden;
}

.modal-body {
  margin: 20px 0;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.form-group
{
    margin: 15px 0;
}

.form-group label
{
    color: #666;
}

a .fa
{
    width: 25px;
}

.btn:hover
{
    color: #fff;
}